---
import Base from '@layouts/Base.astro';
import { getCollection } from 'astro:content';

const frontendProjects = (await getCollection('frontendProjects')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base>
  <h1>Frontend Projects</h1>
  <ul>
    {
      frontendProjects.map((project) => (
        <li>
          <a href={`/projects/frontend/${project.id}`}>{project.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
