---
import AboutSectionImage from '@components/home-sections/AboutSectionImage.astro';
import AboutSectionParagraph from '@components/home-sections/AboutSectionParagraph.astro';
import testImg from '@assets/images/test-image-1.jpg';
import Button from '@components/Button.svelte';

type Props = {
  title?: string;
  id?: string;
};

const { title = 'About', id = 'about' } = Astro.props;
---

<section class='about-section' id={id}>
  <AboutSectionImage src={testImg} alt='' />
  <div class='about-content-container'>
    <h2 class='section-title'>{title}</h2>
    <hr />
    <article>
      <AboutSectionParagraph />
    </article>
    <Button
      link='/about'
      variant='secondary'
      icon='ri-arrow-right-line'
      iconPosition='right'
    >
      Learn More
    </Button>
  </div>
</section>

<style>
  section.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    width: 100%;
  }

  .about-content-container {
    align-self: center;
  }

  @media screen and (width < 600px) {
    section.about-section {
      grid-template-columns: 1fr;
    }
  }
</style>
