---
import Button from '@components/Button.svelte';
import { getCollection } from 'astro:content';
import BlogCard from '@components/cards/BlogCard.astro';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section>
  <h2 class='section-title'>Blog Posts</h2>
  <hr />
  <ul>
    {posts.map((post) => <BlogCard post={post} inList={true} />)}
  </ul>
  <div class='btn-container'>
    <Button
      link='/blog'
      variant='secondary'
      icon='ri-arrow-right-line'
      iconPosition='right'
    >
      View All Posts
    </Button>
  </div>
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    list-style-type: none;

    padding: 0;
  }

  .btn-container {
    display: flex;
    justify-content: end;

    margin-top: 4rem;
  }
</style>
