---
import { getCollection, render } from 'astro:content';
import Base from '@layouts/Base.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base title={`${post.data.title} | Austin Hagel`}>
  <h1>{post.data.title}</h1>
  <article>
    <Content />
  </article>
</Base>

<style>
  h1 {
    margin-block: 2rem;
  }

  article {
    background-color: var(--clr-surface-0);
    padding-inline: 2rem;
    padding-block: 1rem;

    border-radius: 16pt;
  }
</style>
