:root {
  --appbar-height: 4rem;

  --desktop-width: 1200px;
}

html {
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Inter', sans-serif;

  margin: 0;

  min-height: 100dvh;

  color: var(--clr-text);
  background-color: var(--clr-base-2);
}

main {
  flex-grow: 1;

  margin-top: var(--appbar-height);

  height: 100%;
}

main[data-align-center='false'] {
  align-content: start;
}

main[data-align-center='true'] {
  align-content: center;
}

section {
  background-color: var(--clr-surface-0);
  margin-block: auto;
}

:root[data-color-scheme='dark'] a {
  --clr-link: oklch(from var(--clr-tertiary) calc(l + 0.1) c h);
  --clr-link-hover: oklch(from var(--clr-tertiary) calc(l + 0.2) c h);
}

:root[data-color-scheme='light'] a {
  --clr-link: var(--clr-tertiary);
  --clr-link-hover: oklch(from var(--clr-tertiary) calc(l + 0.1) c h);
}

a {
  color: var(--clr-link);
  transition: color 200ms ease-out;
}

a:hover {
  color: var(--clr-link-hover);
}

/*
* I got this idea from Kevin Powell
* https://www.youtube.com/watch?v=c13gpBrnGEw
*/
.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(6.25rem, 1fr)
    [breakout-start] 6.25rem [content-start] minmax(0, var(--desktop-width))
    [content-end] 6.25rem [breakout-end] minmax(6.25rem, 1fr) [full-width-end];

  max-width: 100lvw;
  width: 100%;
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

/* --- Variables --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title-l,
h1.title-l,
h2.title-l,
h3.title-l,
h4.title-l,
h5.title-l,
h6.title-l,
p.title-l {
  font-size: 6rem;
  font-weight: 900;
}

.title,
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
p.title {
  font-size: 4rem;
  font-weight: 800;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}
