:root[data-color-scheme='dark'] {
  color-scheme: dark;
}

:root[data-color-scheme='light'] {
  color-scheme: light;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter', sans-serif;

  margin: 0;

  min-height: 100dvh;
}
