:root[data-color-scheme='dark'] {
  color-scheme: dark;

  --clr-blue: oklch(0.72 0.179 260.7);
  --clr-teal: oklch(0.72 0.207 213);
  --clr-aqua: oklch(0.796 0.17 162.48);
  --clr-green: oklch(0.725 0.177 140.46);
  --clr-yellow: oklch(0.872 0.173 65.36);
  --clr-orange: oklch(0.792 0.204 42.42);
  --clr-red: oklch(0.745 0.246 16.44);
  --clr-hotpink: oklch(0.72 0.216 19.8);
  --clr-pink: oklch(0.736 0.256 340);
  --clr-purple: oklch(0.727 0.265 303.9);

  --clr-primary: var(--clr-blue);
  --clr-secondary: var(--clr-teal);
  --clr-tertiary: var(--clr-purple);
  --clr-error: var(--clr-red);
  --clr-warning: var(--clr-yellow);
  --clr-success: var(--clr-green);

  --clr-base: oklch(0.2 0.012 285);
  --clr-text: oklch(0.96 0.008 271);

  --clr-text-0: var(--clr-text);
  --clr-text-1: oklch(from var(--clr-text) calc(l - 0.25) c h);
  --clr-text-2: oklch(from var(--clr-text) calc(l - 0.175) c h);

  --clr-overlay-2: oklch(from var(--clr-base) calc(l + 0.15) c h);
  --clr-overlay-1: oklch(from var(--clr-base) calc(l + 0.125) c h);
  --clr-overlay-0: oklch(from var(--clr-base) calc(l + 0.1) c h);

  --clr-surface-2: oklch(from var(--clr-base) calc(l + 0.095) c h);
  --clr-surface-1: oklch(from var(--clr-base) calc(l + 0.06) c h);
  --clr-surface-0: oklch(from var(--clr-base) calc(l + 0.015) c h);

  --clr-base-0: var(--clr-base);
  --clr-base-1: oklch(from var(--clr-base) calc(l - 0.1) c h);
  --clr-base-2: oklch(from var(--clr-base) calc(l - 0.2) c h);

  --gradient-bg: linear-gradient(
    to right,
    var(--clr-base-0) 30%,
    var(--clr-base-1),
    var(--clr-base-0)
  );
}

:root[data-color-scheme='light'] {
  color-scheme: light;

  --clr-blue: oklch(0.5 0.226 262.1);
  --clr-teal: oklch(0.5 0.207 213);
  --clr-aqua: oklch(0.5 0.17 162.48);
  --clr-green: oklch(0.5 0.177 140.46);
  --clr-yellow: oklch(0.55 0.17 65.36);
  --clr-orange: oklch(0.52 0.204 42.42);
  --clr-red: oklch(0.5 0.246 16.44);
  --clr-hotpink: oklch(0.5 0.216 19.8);
  --clr-pink: oklch(0.5 0.256 340);
  --clr-purple: oklch(0.5 0.265 303.9);

  --clr-primary: var(--clr-blue);
  --clr-secondary: var(--clr-teal);
  --clr-tertiary: var(--clr-purple);
  --clr-error: var(--clr-red);
  --clr-warning: var(--clr-yellow);
  --clr-success: var(--clr-green);

  --clr-base: oklch(0.9 0.018 285);
  --clr-text: oklch(0.15 0.008 271);

  --clr-text-0: var(--clr-text);
  --clr-text-1: oklch(from var(--clr-text) calc(l + 0.25) c h);
  --clr-text-2: oklch(from var(--clr-text) calc(l + 0.175) c h);

  --clr-overlay-2: oklch(from var(--clr-base) calc(l + 0.1) c h);
  --clr-overlay-1: oklch(from var(--clr-base) calc(l + 0.095) c h);
  --clr-overlay-0: oklch(from var(--clr-base) calc(l + 0.08) c h);

  --clr-surface-2: oklch(from var(--clr-base) calc(l + 0.075) c h);
  --clr-surface-1: oklch(from var(--clr-base) calc(l + 0.06) c h);
  --clr-surface-0: oklch(from var(--clr-base) calc(l + 0.025) c h);

  --clr-base-2: var(--clr-base);
  --clr-base-1: oklch(from var(--clr-base) calc(l - 0.1) c h);
  --clr-base-0: oklch(from var(--clr-base) calc(l - 0.2) c h);

  --gradient-bg: linear-gradient(
    to right,
    var(--clr-base-2) 30%,
    var(--clr-surface-1),
    var(--clr-base-2)
  );
}
