@media (prefers-reduced-motion: no-preference) {
  :root.theme-transition::view-transition-old(root) {
    animation-delay: 400ms;
  }

  :root.theme-transition::view-transition-new(root) {
    animation: circle-in 400ms;
  }

  :root.theme-transition::view-transition-old(main),
  :root.theme-transition::view-transition-new(main) {
    animation: none;
  }
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 0%);
  }
  to {
    clip-path: circle(120% at 50% 0%);
  }
}
