/**
 * NOTE:
 * The script that handles custom Astro transitions
 * is found at
 * ./src/scripts/customTransitions.ts
 *
 * Go there to adjust timings and whatnot
 */

@media (prefers-reduced-motion: no-preference) {
  :root.theme-transition::view-transition-old(root) {
    animation-delay: 400ms;
    transition-timing-function: ease-out;
  }

  :root.theme-transition::view-transition-new(root) {
    animation: circle-in-from-toggle-element 400ms;
    transition-timing-function: ease-out;
  }

  :root.theme-transition main {
    view-transition-name: none;
  }
}

::view-transition-old(appbar),
::view-transition-new(appbar) {
  animation: none;
}

@keyframes circle-in-from-toggle-element {
  from {
    opacity: 0;
    clip-path: circle(0% at var(--circle-x, 100%) var(--circle-y, 0%));
  }
  to {
    opacity: 1;
    clip-path: circle(150% at var(--circle-x, 100%) var(--circle-y, 0%));
  }
}

@keyframes circle-in {
  from {
    opacity: 0;
    clip-path: circle(0% at 50% 0%);
  }
  to {
    opacity: 1;
    clip-path: circle(120% at 50% 0%);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
