$width-mobile-1: 600px;
$width-mobile-2: 768px;
$width-desktop-1: 1080px;
$width-desktop-2: 1200px;

$z-index-breadcrumb: 5;
$z-index-appbar: 10;

$z-index-drawer-overlay: 20;
$z-index-drawer: 21;
$z-index-drawer-toggle: 22;

$z-index-contact-form: 30;

$z-index-navigation-progress: 40;
