<p>Curating code like a <i>fine art.</i></p>
<p>
  I am a developer who believes that software should feel effortless. My
  background involves deep dives into complex systems while maintaining a
  surface-level simplicity that delights users.
</p>
<p>
  I strip away the non-essential to focus on what truly matters: impact,
  clarity, and emotion. Whether it's a sleek dashboard or an immersive 3D
  experience, I bring a touch of alchemy to everything I build.
</p>

<style>
  i {
    font-style: italic;
    color: var(--clr-primary);
  }
</style>
