---
import AboutSectionImage from '@components/sections/AboutSectionImage.astro';
import testImg from '@assets/images/test-image-1.jpg';

type Props = {
  title: string;
  paragraph: string;
  id?: string;
};

const { title, paragraph, id = 'about' } = Astro.props;
---

<section class='about-section' id={id}>
  <AboutSectionImage src={testImg} alt='' />
  <div class='about-content-container'>
    <h2>{title}</h2>
    <p>{paragraph}</p>
  </div>
</section>

<style>
  section.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .about-content-container {
    width: 50%;
  }
</style>
