---
import Button from '../Button.svelte';
---

<h2>Blog Posts</h2>
<p>Blog posts will go here!</p>
<Button
  label='View Blog'
  link='/blog'
  variant='secondary'
  icon='ri-arrow-right-line'
  iconPosition='right'
/>
