---
import Button from '@components/Button.svelte';
import { getCollection } from 'astro:content';
import BlogCard from '@components/BlogCard.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<section>
  <h2 class='section-title'>Blog Posts</h2>
  <hr />
  <p>Blog posts will go here!</p>
  <ul>
    {posts.map((post) => <BlogCard post={post} />)}
  </ul>
  <Button
    label='View All Posts'
    link='/blog'
    variant='secondary'
    icon='ri-arrow-right-line'
    iconPosition='right'
  />
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    list-style-type: none;

    padding: 0;
  }
</style>
