---
import Button from '@components/Button.svelte';

type CallToAction = {
  label: string;
  link?: string;
};

type Props = {
  title?: string;
  subtitle?: string;
  summary?: string;
  callToAction?: CallToAction;
};

const { title, subtitle, summary, callToAction } = Astro.props;
---

<section class='hero'>
  {title && <h1>{title}</h1>}
  {subtitle && <h2>{subtitle}</h2>}
  {summary && <p>{summary}</p>}
  {callToAction && <Button label={callToAction!.label} />}
</section>

<style>
  section.hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    min-height: 100svh;
  }
</style>
