---
import Button from '@components/Button.svelte';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<section class='hero'>
  <h1>{title}</h1>
</section>

<style>
  section.hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    min-height: 100svh;
  }
</style>
