---
import Button from '@components/Button.svelte';
import SocialLinks from '@components/SocialLinks.astro';
import StyledHr from '../StyledHr.astro';

type CallToAction = {
  label: string;
  url?: string;
};

type Props = {
  title?: string;
  subtitle?: string;
  summary?: string;
  callToAction?: CallToAction;
  enableSocialLinks?: boolean;
};

const {
  title,
  subtitle,
  summary,
  callToAction,
  enableSocialLinks = false,
} = Astro.props;
---

<section class='hero'>
  {title && <h1 class='title-l hero-title'>{title}</h1>}
  <StyledHr />
  {subtitle && <h2 class='heading-4 hero-subtitle'>{subtitle}</h2>}
  {
    enableSocialLinks && (
      <div class='social-links-wrapper'>
        <SocialLinks />
      </div>
    )
  }
  {summary && <p>{summary}</p>}
  {
    callToAction && (
      <Button link={callToAction.url} label={callToAction!.label} />
    )
  }
</section>

<style>
  :global(:root[data-color-scheme='dark']) .hero-subtitle {
    --subtitle-clr-text: oklch(from var(--clr-primary) calc(l + 0.25) c h);
  }

  :global(:root[data-color-scheme='light']) .hero-subtitle {
    --subtitle-clr-text: oklch(from var(--clr-primary) calc(l + 0.1) c h);
  }

  section.hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    min-height: 100svh;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: -0.5rem;

    font-weight: 900;
  }

  .hero-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 0;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--subtitle-clr-text);
    text-transform: uppercase;
    letter-spacing: 0.2ch;
  }

  .social-links-wrapper {
    margin-block: 1rem;
  }
</style>
