---
import ExternalLinksTabbedComponent from '@components/ExternalLinksTabbedComponent.astro';
---

<section id='links-section'>
  <h2 class='section-title'>Links</h2>
  <hr />
  <ExternalLinksTabbedComponent />
</section>
