---
import Button from '../Button.svelte';
---

<h2 class='section-title'>Projects</h2>
<hr />
<p>Projects will go here!</p>
<Button
  label='View Projects'
  link='/projects'
  variant='secondary'
  icon='ri-arrow-right-line'
  iconPosition='right'
/>
