---
import Button from '@components/Button.svelte';
import Base from '@layouts/Base.astro';
---

<Base title='404 Page Not Found' alignCenter={true}>
  <section class='main-align-center'>
    <h1>404</h1>
    <p>Page not found</p>
    <Button label='Home' link='/' />
  </section>
</Base>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: none;

    padding-bottom: 16rem;
  }

  h1 {
    font-size: 6rem;
    margin: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  a {
    margin-top: 2rem;
  }
</style>
