---
import Base from '../layouts/Base.astro';
---

<style>
  p {
    max-width: 74ch;
  }
</style>

<Base>
  <h1>Austin Hagel</h1>
  <p>Hello, world.</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum
    tortor et gravida venenatis. Sed non magna vitae nisi pulvinar imperdiet
    quis ut lectus. Donec suscipit sem sed hendrerit rutrum. Vestibulum dictum
    imperdiet libero vitae tristique. In id nisl eu leo aliquam semper. Aenean
    ut massa ante. Suspendisse rutrum, nisl in mattis cursus, enim nulla
    lobortis augue, tincidunt blandit mauris magna non risus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>

  <p>
    Phasellus vehicula tincidunt augue non tincidunt. Donec vel aliquam felis.
    Nulla vel efficitur dui. Suspendisse potenti. Maecenas fermentum fermentum
    congue. Mauris ullamcorper velit eget lectus euismod, in tincidunt erat
    tincidunt. Donec feugiat, ipsum eget pharetra bibendum, magna ligula finibus
    ligula, sed tempus lorem neque ut arcu. Nunc varius justo quis justo
    bibendum, id tristique risus iaculis.
  </p>

  <p>
    Ut condimentum ex ut tortor tempor pellentesque. Integer ornare interdum
    nibh, vel commodo risus sollicitudin in. Pellentesque at est convallis,
    sagittis est non, sollicitudin enim. Nam aliquam ultrices auctor. Donec
    tempor congue sodales. Fusce tortor elit, tempus ultrices congue sed,
    posuere id nisl. Pellentesque id mattis ante. Vivamus eget nisl posuere,
    fermentum justo ac, dapibus quam. Aliquam enim lorem, auctor quis bibendum
    eget, dictum vel enim. Vivamus blandit eleifend magna, eu accumsan augue
    sollicitudin quis. Etiam pharetra dolor sem, quis lobortis tortor placerat
    in.
  </p>

  <p>
    Phasellus nec quam auctor augue facilisis vehicula. Nullam enim diam,
    sodales eget eros quis, consequat gravida nisl. Donec id mollis risus, ut
    luctus ante. Vestibulum ac quam et neque tincidunt interdum in vitae arcu.
    Duis id semper felis. Morbi bibendum efficitur finibus. Aenean quis ultrices
    quam. Curabitur ut convallis mi. Pellentesque in eros non erat consectetur
    consequat. Proin non vestibulum ante. Fusce nunc est, viverra sit amet nibh
    a, iaculis finibus lectus. Morbi placerat libero nec sollicitudin
    vestibulum. Etiam feugiat dui at ligula ultricies, at luctus lorem
    malesuada. Duis ac massa tellus.
  </p>
</Base>
