---
type Props = {
  icon?: string;
  url?: string;
};

const { icon, url } = Astro.props;
---

{
  url ? (
    <a class='badge' href={url}>
      {icon && <span class={`badge-icon ${icon}`} />}
      <span class='badge-label'>
        <slot />
      </span>
    </a>
  ) : (
    <p class='badge'>
      {icon && <span class={`badge-icon ${icon}`} />}
      <span class='badge-label'>
        <slot />
      </span>
    </p>
  )
}

<style>
  :global(:root[data-color-scheme='dark']) .badge {
    --badge-clr-bg: oklch(
      from var(--clr-primary) calc(l - 0.45) calc(c - 0.125) h
    );
    --badge-clr-bg-hover: oklch(from var(--badge-clr-bg) calc(l + 0.1) c h);
    --badge-clr-bg-active: inherit;

    --badge-clr-outline: oklch(
      from var(--clr-primary) calc(l - 0.3) calc(c - 0.1) h
    );
    --badge-clr-outline-hover: oklch(
      from var(--badge-clr-outline) calc(l + 0.1) c h
    );
    --badge-clr-outline-active: inherit;

    --badge-clr-text: oklch(from var(--clr-primary) calc(l + 0.1) c h);
    --badge-clr-text-hover: oklch(from var(--badge-clr-text) calc(l + 0.1) c h);
  }

  :global(:root[data-color-scheme='light']) .badge {
    --badge-clr-bg: oklch(
      from var(--clr-primary) calc(l + 0.4) calc(c - 0.125) calc(h + 10)
    );
    --badge-clr-bg-hover: oklch(from var(--badge-clr-bg) calc(l + 0.05) c h);
    --badge-clr-bg-active: inherit;

    --badge-clr-outline: oklch(
      from var(--clr-primary) calc(l + 0.35) calc(c + 0) calc(h + 10)
    );
    --badge-clr-outline-hover: oklch(
      from var(--badge-clr-outline) calc(l + 0.05) c h
    );
    --badge-clr-outline-active: inherit;

    --badge-clr-text: oklch(
      from var(--clr-primary) calc(l + 0.05) calc(c - 0.05) calc(h + 10)
    );
    --badge-clr-text-hover: oklch(
      from var(--badge-clr-text) calc(l + 0.05) c h
    );
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;

    font-size: 0.8rem;
    font-weight: 500;
    color: var(--badge-clr-text);

    background-color: var(--badge-clr-bg);

    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--badge-clr-outline);

    border-radius: 4pt;

    padding-inline: 0.4rem;
    padding-block: 0rem;
    margin: 0;

    transition-property: color, background-color, outline-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .badge-icon {
    font-size: 0.95rem;
  }

  a.badge:hover {
    color: var(--badge-clr-text-hover);
    background-color: var(--badge-clr-bg-hover);
    outline-color: var(--badge-clr-outline-hover);
  }
</style>
