---
type Props = {
  icon?: string;
  url?: string;
};

const { icon, url } = Astro.props;
---

{
  url ? (
    <a class='badge' href={url}>
      {icon && <span class={`badge-icon ${icon}`} />}
      <span class='badge-label'>
        <slot />
      </span>
    </a>
  ) : (
    <p class='badge'>
      {icon && <span class={`badge-icon ${icon}`} />}
      <span class='badge-label'>
        <slot />
      </span>
    </p>
  )
}

<style>
  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:focus {
    outline-color: var(--clr-text-0);
  }

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;

    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-text-blue);

    background-color: var(--clr-bg-blue);

    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--clr-outline-blue);

    border-radius: 4pt;

    padding-inline: 0.5rem;
    padding-block: 0.1rem;
    margin: 0;

    width: fit-content;

    transition-property: color, background-color, outline-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .badge-icon {
    font-size: 0.95rem;
  }

  a.badge:hover {
    color: var(--clr-text-hover-blue);
    background-color: var(--clr-bg-hover-blue);
    outline-color: var(--clr-outline-hover-blue);
  }
</style>
