---
import { Picture } from 'astro:assets';

type Props = {
  title: string;
  image?: ImageMetadata;
  imageAlt?: string;
};

const { title, image, imageAlt = '' } = Astro.props;
---

<div
  class='directory-hero full-width content-grid'
  transition:name='directory-hero'
  id='directory-hero'
>
  <div class='hero-img-container full-width'>
    {image && <Picture src={image} alt={imageAlt} class='hero-img' />}
  </div>

  <div class='directory-content'>
    <h1 class='directory-title'>{title}</h1>
    <hr />
    <p class='directory-description'>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ipsam sint
      vitae ad cumque est quis! Ut saepe dolorem voluptatum dolor facilis
      sapiente earum soluta maiores nemo? Voluptate dicta ipsa quae cum
      explicabo sunt eos.
    </p>
  </div>
</div>

<style>
  div.directory-hero {
    position: relative;

    top: calc(var(--appbar-height) * -1);

    background-color: var(--clr-surface-0);
    min-height: calc(50vh + var(--appbar-height));

    overflow: hidden;

    width: 100%;
  }

  .directory-content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    height: fit-content;

    font-size: 6rem;

    margin-block: auto;
    margin-right: auto;

    padding-block: 4rem;
    padding-inline: 4rem;

    width: 100%;

    backdrop-filter: blur(10px);
  }

  .directory-content::after {
    content: '';
    position: absolute;
    inset: 0;

    background-color: oklch(
      from var(--clr-primary) calc(l - 0.65) calc(c - 0.01) calc(h - 50)
    );

    opacity: 0.6;

    border-radius: 4pt;

    z-index: -1;
  }

  .directory-title {
    font-size: 4rem;
    font-weight: 800;

    margin-bottom: 1rem;
  }

  hr {
    content: '';

    display: flex;

    position: relative;

    height: 2px;
    width: 100%;

    border: none;

    background-color: var(--clr-overlay-2);

    margin: 0;
  }

  .directory-description {
    max-width: 72ch;

    font-size: 1.25rem;
  }

  .hero-img-container {
    display: flex;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    z-index: -10;

    opacity: 0.5;

    width: 100%;
  }

  .hero-img-container :global(picture) {
    width: 100%;
  }

  .hero-img {
    object-fit: cover;

    width: 100%;
    height: auto;
  }
</style>
