---
import PlatformCards from '@components/PlatformCards.astro';
import externalLinks from '@content/externalLinks.json';
import Tabs from '@components/Tabs.svelte';
import Tab from '@components/Tab.svelte';

const enabledLinkGroups = externalLinks
  .map((group) => ({
    ...group,
    links: group.links.filter((link) => link.enabled),
  }))
  .filter((group) => group.links.length > 0);
---

<Tabs client:load>
  {
    enabledLinkGroups.map((linkGroup) => (
      <Tab name={linkGroup.label}>
        <h3 class='visually-hidden'>{linkGroup.label}</h3>
        <PlatformCards platformList={linkGroup.links} onSurface={true} />
      </Tab>
    ))
  }
</Tabs>
