<footer>
  <p>Footer</p>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-surface-0);

    width: 100%;
    min-height: 8rem;
  }
</style>
