---
import PlatformCard from '@components/PlatformCard.astro';

type Platform = {
  label: string;
  icon: string;
  url: string;
  username: string;
};

type Props = {
  platformList: Platform[];
};

const { platformList } = Astro.props;
---

<ul class='social-cards-list'>
  {
    platformList.map((platform) => (
      <li class='social-cards-list-item'>
        <PlatformCard
          label={platform.label}
          icon={platform.icon}
          url={platform.url}
          username={platform.username}
        />
      </li>
    ))
  }
</ul>

<style>
  ul.social-cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    list-style-type: none;
    padding: 0;
  }

  li.social-cards-list-item {
    width: 100%;
    max-width: 26rem;
  }

  li.social-cards-list-item:nth-child(odd) {
    justify-self: end;
  }

  li.social-cards-list-item:nth-child(even) {
    justify-self: start;
  }
</style>
