---
import SocialLink from '@components/SocialLink.astro';

const links = [
  {
    label: 'Facebook',
    url: 'https://www.facebook.com',
    icon: 'ri-facebook-fill',
  },
  {
    label: 'LinkedIn',
    url: 'https://www.linkedin.com',
    icon: 'ri-linkedin-fill',
  },
];
---

<ul>
  {
    links.map((link) => (
      <li>
        <SocialLink label={link.label} url={link.url} icon={link.icon} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    list-style-type: none;
    padding: 0;
  }
</style>
