---
import SocialLink from '@components/SocialLink.astro';
import externalLinks from '@content/externalLinks.json';

const socialGroup = externalLinks.find((group) => group.label === 'Social');
const links = socialGroup?.links ?? [];
---

<ul>
  {
    links.map((link) => (
      <li>
        <SocialLink label={link.label} url={link.url} icon={link.icon} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>
