<div class='styled-hr-wrapper' role='separator'>
  <div class='styled-hr-line styled-hr-line-left'></div>
  <div class='styled-hr-dot' aria-hidden='true'></div>
  <div class='styled-hr-line styled-hr-line-right'></div>
</div>

<style>
  .styled-hr-wrapper {
    display: grid;
    grid-template-columns: 20% auto 1fr;
    align-items: center;

    width: 55%;
  }

  .styled-hr-line {
    content: '';

    height: 0.2rem;
    border-radius: 0.2rem;
    border: none;

    width: 100%;
  }

  .styled-hr-line-left {
    background-image: linear-gradient(
      to right,
      var(--clr-primary),
      transparent
    );
  }

  .styled-hr-line-right {
    background-image: linear-gradient(to left, var(--clr-primary), transparent);
  }

  .styled-hr-dot {
    --dot-size: 0.6rem;

    content: '';

    height: var(--dot-size);
    width: var(--dot-size);

    border-radius: 50%;

    margin-left: 1rem;
    margin-right: 1.1rem;

    background-color: var(--clr-primary);
    box-shadow: 0 0 12px var(--clr-primary);
  }
</style>
