---
type Tab = {
  label: string;
  icon?: string;
};

type Props = {
  tabs: Tab[];
};

const { tabs } = Astro.props;
---

<div class='tabbed-component-container'>
  <div class='tab-btn-group'>
    {
      tabs.map((tab, i) => (
        <button
          class='tab-btn'
          data-tab-id={i}
          data-active={i === 0 ? 'true' : 'false'}
        >
          <span class={`${tab.icon} tab-btn-icon`} />
          <span>{tab.label}</span>
        </button>
      ))
    }
  </div>
  <div class='tab-content'>
    <slot />
  </div>
</div>

<style>
  .tabbed-component-container {
    display: grid;
  }

  .tab-btn-group {
    display: flex;

    background-color: transparent;
  }

  .tab-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;

    padding-inline: 1.5rem;
    padding-block: 0.6rem;
    margin: 0;

    border: none;

    border-radius: 4pt 4pt 0 0;

    background-color: transparent;

    color: var(--clr-subtext-0);

    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .tab-btn-icon {
    position: relative;
    top: 0.035rem;
  }

  .tab-btn:hover {
    background-color: var(--clr-surface-0);
    color: var(--clr-text);
  }

  .tab-btn[data-active='true'] {
    background-color: var(--clr-surface-0);
    color: var(--clr-text);
  }

  .tab-content {
    display: grid;
  }

  .tab-content > :global([data-tab-id]) {
    grid-row: 1;
    grid-column: 1;
    align-self: start;

    background-color: var(--clr-surface-0);

    border-radius: 0 0 10pt 10pt;

    overflow: hidden;

    padding-top: 1rem;
  }

  .tab-content > :global([data-active='false']) {
    visibility: hidden;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    document.querySelectorAll('.tab-btn').forEach((btn) => {
      btn.addEventListener('click', () => {
        const tabId = btn.getAttribute('data-tab-id');

        document
          .querySelectorAll('.tab-btn')
          .forEach((b) => b.setAttribute('data-active', 'false'));
        document
          .querySelectorAll('.tab-section')
          .forEach((s) => s.setAttribute('data-active', 'false'));

        btn.setAttribute('data-active', 'true');
        document
          .querySelector(`.tab-section[data-tab-id="${tabId}"]`)
          ?.setAttribute('data-active', 'true');
      });
    });
  });
</script>
