---
import { Picture } from 'astro:assets';
import bgVid from '@assets/videos/bg-vid-1.webm';
import bgImg from '@assets/images/bg-image-1.jpg';

type Props = {
  clipPath?: boolean;
};

const { clipPath = true } = Astro.props;
---

<>
  <div class='clip-path-border full-width' data-clip-path={clipPath}></div>
  <div class='bg-container full-width' data-clip-path={clipPath}>
    <video class='bg-video' loop autoplay muted>
      <source src={bgVid} type='video/webm' />
    </video>
    <Picture
      class='fallback-image'
      src={bgImg}
      alt={''}
      formats={['avif', 'webp']}
    />
  </div>
</>

<style>
  .clip-path-border[data-clip-path='true'] {
    content: '';

    position: absolute;
    top: -3.5rem;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: none;
    background-image: linear-gradient(transparent, var(--clr-subtext-1));

    clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);

    z-index: -11;
  }
  .bg-container {
    isolation: isolate;
    position: absolute;

    width: 100%;

    z-index: -10;
  }

  .bg-container[data-clip-path='true'] {
    clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
    height: 92%;
  }

  .bg-container[data-clip-path='false'] {
    height: 100%;
  }

  .bg-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--clr-base-2);

    opacity: 0.8;

    z-index: 1;
  }

  .bg-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: oklch(from var(--clr-primary) l calc(c * 0.4) h);
    mix-blend-mode: color;

    z-index: -1;
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;

    z-index: -2;
  }

  .fallback-image {
    position: absolute;

    object-fit: cover;
    object-position: center;

    max-height: 100%;

    z-index: -3;
  }

  @media (prefers-reduced-motion: reduce) {
    .bg-video {
      display: none;
    }
  }
</style>
