---
import Base from '@layouts/Base.astro';
---

<Base title='Projects | Austin Hagel'>
  <h1>Projects</h1>
  <ul>
    <li>
      <a href={`/projects/frontend`}>Frontend Projects</a>
    </li>
  </ul>
</Base>
