---
import '@styles/search.scss';
import Base from '@layouts/Base.astro';
import DirectoryHero from '@components/DirectoryHero.astro';
import SearchResults from '@components/SearchResults.svelte';
import bg from '@assets/images/search-bg.jpg';
---

<Base title={`Search the site`} enableBreadcrumb={false}>
  <DirectoryHero
    title='Search'
    titleIcon='ri-search-2-line'
    description='Search for content across the site.'
    image={bg}
  />

  <div class='search-content-wrapper'>
    <SearchResults client:load />
  </div>
</Base>
