---
import AppBar from '../components/AppBar.svelte';
import '../styles/index.scss';
import '../styles/reset.scss';
import 'remixicon/fonts/remixicon.css';

const defaultDescription =
  "Austin is a web developer and designer. Browse my personal projects, technical skills, and the work I'm most proud of.";

const defaultTitle = 'Austin Hagel | Web developer and designer';

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <!-- Favicon -->
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />

    <!-- Meta -->
    <meta name='viewport' content='width=device-width' />

    <meta
      name='description'
      content={description ? description : defaultDescription}
    />
    <meta name='keywords' content='HTML, CSS, JavaScript' />
    <meta name='author' content='Austin Hagel' />

    <!-- Open Graph (for link previews on social/Slack/Discord) -->
    <meta property='og:title' content={title ? title : defaultTitle} />
    <meta
      property='og:description'
      content={description ? description : defaultDescription}
    />
    <meta property='og:url' content='https://astn.io' />
    <meta property='og:type' content='website' />

    <!-- Twitter/X card -->
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:title' content={title ? title : defaultTitle} />
    <meta
      name='twitter:description'
      content={description ? description : defaultDescription}
    />

    <meta name='generator' content={Astro.generator} />

    <title>{title ? title : defaultTitle}</title>

    <script is:inline>
      /***
       * Initializes the dark/light color scheme before the page loads
       * to prevent flashing the user with a sudden color change
       ***/
      if (localStorage.getItem('colorScheme')) {
        document.documentElement.dataset.colorScheme =
          localStorage.getItem('colorScheme');
      } else {
        document.documentElement.dataset.colorScheme = window.matchMedia(
          '(prefers-color-scheme: light)',
        ).matches
          ? 'light'
          : 'dark';
      }
    </script>
  </head>
  <body>
    <AppBar client:load />
    <main>
      <slot />
    </main>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>

<style>
  main {
    margin-block: 8rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: auto;

    background-color: rgba(255, 255, 255, 0.05);

    width: 100%;
    min-height: 8rem;
  }
</style>
